# Secrets
Secrets.xcconfig

# Xcode Build Artifacts
DerivedData/
build/

# Personal User Settings
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS system files
.DS_Store
Secrets.xconfig
*.xcconfig
